@{
    Layout = null; // Optional: If you want to use a layout, specify it here
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/aboutus.css">
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body>
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="@Url.Action("Index", "Home")">Flavors Unleashed</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="@Url.Action("Index", "Home")"><span>Menu</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="AboutHeader">
        <h1>About Our Team</h1>
    </div>
    <main>
        <section class="team-member">
            <img src="~/images/Nikhil pic.jpeg" alt="Member 1">
            <div class="member-info">
                <h2>Nikhil Alla</h2>
                <p><b style="color: black;">Software Engineer</b></p>
                <p>As a sofware engineer, I collaborate with cross-functional teams to innovate, test, and maintain software solutions, ensuring functionality, scalability, and security.For my project, I developed the core web pages, including the index, importance and visualization.html pages. In creating these pages, I structured the landing page to serve as an engaging entry point for visitors, ensuring it provides a comprehensive overview of the website’s purpose. Additionally, I designed the importance.html page to emphasize the key benefits and significance of our services, effectively informing and persuading potential users. Throughout both pages, I employed advanced CSS techniques to enhance the aesthetic appeal and user experience, creating a visually cohesive and polished interface. My efforts were complemented by the dynamic and supportive collaboration of my team, which greatly enriched the project’s development process.</p>
                <p><b style="color: black;">Technical Skills :</b> C#, .Net, Java, Python, Spring Boot, MSUnitTest, HTML, CSS, JavaScript, MSSQL, MySQL</p>
                <a href="https://github.com/anikhil7"><p><b style="color: black;"><u>GitHub</u></b></p></a>
            </div>
        </section>
        <section class="team-member">
            <img src="~/images/Alekhya_Professional.jpg" alt="Member 2">
            <div class="member-info">
                <h2>Alekhya Thalla</h2>
                <p><b style="color: black;">DevOps Engineer</b></p>
                <p>As a Devops Engineer, I  design and manage infrastructure, implement monitoring and testing tools, and collaborate with teams to streamline development lifecycles, ensuring rapid and reliable software delivery. In our project, I developed the "About Us" and "Store" pages. The "About Us" page features photos and brief descriptions of our team, personalized with custom CSS for a professional look. I also created the "Store" page, which displays our locations in a user-friendly tabular format, enhanced with JavaScript for interactive elements. These contributions, applying my technical skills, helped ensure a cohesive and engaging user experience on our website. I am grateful for the collaborative support of my team throughout the project's development.</p>
                <p><b style="color: black;">Technical Skills :</b> Java, Spring Boot, Selenium, HTML, CSS, JavaScript, MSSQL</p>
                <a href="https://github.com/Alekhya-Thalla"><p><b style="color: black;"><u>GitHub</u></b></p></a>
            </div>
        </section>
        <section class="team-member">
            <img src="~/images/Karan_Professional.jpg" alt="Member 3">
            <div class="member-info">
                <h2>Hima Karan Pusarla</h2>
                <p><b style="color: black;">Data Analyst</b></p>
                <p>As a Data Analyst, I analyze complex datasets to extract insights and trends, aiding informed decision-making for businesses and organizations. In our website project, I developed the login and signup pages, incorporating JavaScript to enhance interactivity without a database connection. These pages ensure user-friendly navigation and a seamless experience. Additionally, I designed a visualization page, featuring CSS-styled charts that highlight popular data like favorite dishes and recipe difficulty levels. My contributions focused on optimizing functionality and visual appeal, providing an engaging user experience. I am grateful for the supportive and collaborative spirit of our team, which greatly facilitated the project's success.</p>
                <p><b style="color: black;">Technical Skills :</b> Python, Flask, R, HTML, CSS, JavaScript, MSSQL</p>
                <a href="https://github.com/himakaran"><p><b style="color: black;"><u>GitHub</u></b></p></a>
            </div>
        </section>
        <section class="team-member">
            <img src="~/images/Reddy.jpeg" alt="Member 4">
            <div class="member-info">
                <h2>Sasank Reddy Dodda</h2>
                <p><b style="color: black;">Robotic Automation Tester</b></p>
                <p>As a Robotic AutomationI design, and implement, and maintain automated systems that perform repetitive tasks in various industries. In our project, I was responsible for designing the "Why Health," "Fitness," and "Nutrition" pages. Each page is crafted to explain the importance of these respective areas, utilizing HTML for structure and CSS for styling. The "Why Health" page highlights the benefits of maintaining overall health, the "Fitness" page focuses on the physical advantages of staying active, and the "Nutrition" page underscores the significance of balanced eating habits. My role involved using HTML and CSS to ensure that these pages are not only informative but also visually appealing, contributing to a cohesive and user-friendly website. I appreciate the collaborative efforts of our team, which enhanced the project's development.</p>
                <p><b style="color: black;">Technical Skills :</b> Java, Spring Boot, Selenium, HTML, CSS, JavaScript, MSSQL</p>
                <a href="https://github.com/sasankreddy1612"><p><b style="color: black;"><u>GitHub</u></b></p></a>
            </div>
        </section>
        <div class="AboutHeader">
            <h1>Data Model</h1>
        </div>
        <section class="data-model">
            <img src="~/images/Updated_Data_Model.png" alt="Data Model Diagram" style="display: block; margin: auto; width: 80%; height: auto;">
        </section>

        <div class="AboutHeader">
            <h1>Git Push Logs</h1>
        </div>

        <section class="Git Logs">
            <img src="~/images/Nikhil_GitLog.png" alt="Nikhil_Git_Log" style="display: block; margin: auto; width: 80%; height: auto;">
            <div class="AboutHeader">
                <h3 style="text-align:center">Nikhil Log</h3>
            </div>
            <img src="~/images/Karan_GitLog.png" alt="Karan_Git_Log" style="display: block; margin: auto; width: 80%; height: auto;">
            <div class="AboutHeader">
                <h3 style="text-align:center">Hima Karan Log</h3>
            </div>
            <img src="~/images/Alekhya_GitLog.png" alt="Alekhya_Git_Log" style="display: block; margin: auto; width: 80%; height: auto;">
            <div class="AboutHeader">
                <h3 style="text-align:center">Alekhya Log</h3>
            </div>
            <img src="~/images/Sasank_GitLog.png" alt="Sasank_Git_Log" style="display: block; margin: auto; width: 80%; height: auto;">
            <div class="AboutHeader">
                <h3 style="text-align:center">Sasank Log</h3>
            </div>
        </section>

        <div class="AboutHeader">
            <a href=""><h1>Recipe App Git Link</h1></a>
        </div>
    </main>

    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="@Url.Action("AboutUS", "Home")">Kanya Raasi</a></li>
        </ul>
    </footer>
</body>
</html>
